<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://scrumpoint-general-maintanance.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e31273bf-0dae-4395-a8b5-33f801de7c65/resourceGroups/AZ-JHB-RSG-VCKNDN-ST10060590-TER/providers/Microsoft.Web/sites/scrumpoint-general-maintanance</ResourceId>
    <UserName>$scrumpoint-general-maintanance</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://scrumpoint-general-maintanance.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>